*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}

body {
  background-color: white;
  margin: 0 auto;

  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

img {
    max-width: 100%;
}



