.section-city .flex-container, #section-company .flex-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 4em 2em;
  }
  .section-city  .flex-container div, #section-company .flex-container div {
    display: flex;
    margin: 0;
    align-items: center;
    text-align: center;
  }
  
  .section-city .flex-container span, #section-company span {
    padding: 6px 10px;
    background-color: #e4f0f6;
    color: #0079bf;
    border-radius: 3px;
    
  }
  
  .section-city h1, #section-company h1{
    padding-left: 10px;
  }
  .fab, .far {
    /* font-weight: 400; */
    font-size: 12px;
  }
  .section-city .flex-container span,
  .section-city h1,
  .section-company h1,
  .section-city a {
    margin: 0;
  }
  .region {
  margin: 1em;
    font-size: 1.3em;
  
  }
  /* Remove default bullets */
  ul,
  #myUL {
    list-style-type: none;
    height: 100%;
  }
  
  
  #myUL button {
    background-color: #e4f0f6;
    color: #0079bf;
    border-radius: 3px;
    border: none;
    width: 60px;
    height: 31px;
    margin: 0;
    display: inline;
    // z-index: 4;
 
  }


  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }

  #myUL .container-btn {
    width: 82.7%;
    margin-left: 159px;
    margin-top: -25px;
      display: flex;
      justify-content: space-between;
  }

  
  li {
    padding: 0.6em;
    font-size: 16px;
  }
  
  #myUL li .region-title {
    display: flex;
    align-items: center;
    width: 300px;
  }
  
  #myUL li .region-title:hover{
    background-color: #e4f0f6;
    color: #0079bf;
    border-radius: 3px;
}


  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: #e2050559;
  
    display: inline-block;
    margin-right: 6px;
  
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */

  .caret-down::before {
    transform: rotate(90deg);

  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  .nested.active{
  
    & .region{
      margin-left: -115px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  
  .citys li {
    margin-left: 100px;
    margin-right: 0;
    width: 100px;
  }
  
  .citys div{
    margin-left: -110px;
    display: flex;
    height: 3em;
    align-items: center;
  }

  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
    margin-top: 15px;
    
  }
  
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }

.city-1 button {
    background-color: #e4f0f6;
    color: #0079bf;
    border-radius: 3px;
    border: none;
    width: 60px;
    height: 31px;
    margin: 0;
 
}


.mostrar {
   display: inline;
   margin-left: 20px;
}

.noMostrar {
  display: none;
}

#region-title-1 p, #region-title-2 p, #region-title-3 p {
  margin: 0;
}

.pais-ag {
  position: absolute;
  margin-left: 1236px;
  margin-top: -38px;
}

.cia {
  display: flex;
  align-items: center;
}
.cia span {
  position: absolute;
  margin-left: 120px;
  color: #0079bf;
}

.containerRegion {
  width: 650px;
  margin: 120px 380px;
}

.containerCity {
  width: 500px;
  margin: 120px 380px;
}

.containerCity .btn {
  justify-content: center;
  margin-right: 0;
}


.containerRegion select {
  margin-top: 8px;
  border: 1px solid #CCCCCC;
  width: 190px;
  height: 35px;
  outline: none;
  font-size: 12px;
  margin-right: 10px;

}



.containerRegion button {
  border: 1px solid #CCCCCC;
  width: 190px;
  height: 35px;
  outline: none;
  margin-top: 24px;
  font-size: 12px;
  background: white;
  color: #CCCCCC;
}

.containerRegion button i {
  font-size: 15px;
  margin-right: 6px;
}