footer{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    color: #CCCCCC;
    font-size: 12px;
}
.div1, .div2 {
    margin-top: 23.8px;
    width: 8%;
    margin-left: 29px;
}