header {
    width: 1440px;
    margin: 0 auto;
    height: 64px;
    background-color: #1D72C2;

    display: flex;
    justify-content: space-between;
}
header h2 {
    margin-left: 30px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

#ih2 {
    font-size: 40px;
    margin-top: -8px;
}
.nav {
    display: flex;
    align-items: center;
}
.nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
}

.nav a:hover {
    cursor: pointer;


}


.span1, .span2, .span3, .span4 {
    border: 1px solid #1D72C2;
    display: block;
    width: 75%;
    margin-top: 14px;

}



.nombrePagina {
    margin-right: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.none {
    display: none;
}


.h1login {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 100%;
    margin: auto;
}



.agregarContainer {
    position: absolute;
    width: 64%;
    max-height: 100%;
    background-color: white;
    z-index: 3;
    margin: 96px 95px;

    
    // display: none;
}
.agregarContainer-c {
    position: absolute;
    max-height: 100%;
    background-color: white;
    z-index: 3;
    margin: 96px 95px;

}

.agregarHeader {
    display: flex;
    justify-content: space-between;
    height: 140px;
    background-color: #1D72C2;
}

.agregarHeader i {
    margin-right: 40px;
    margin-top: 24px;
    color: white;
    font-size: 17px;

}

.agregarHeader i:hover{
    cursor: pointer;
}

#agregarDatosPersonales {
    max-width: 96%;
    height: 131px;
    background-color: white;
    border: 3px solid #0683f9;
    border-radius: 6.5px;
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
}

#agregarDatosPersonales input {
    width: 190px;
    height: 35px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    background: none;
    outline: none;
}

.agregarCentrar{
    align-items: center;
}

.agregarTitulo {
    margin: 0;
    font-size: 21px;
    padding-top: 21px;
    padding-left: 40px;
    color: white;
}

.agregarLoguito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 84px;
    background: rgba(0,0,0,0.05);
    border: 2px solid #0683F9;
    border-radius: 42px;
    margin: 14px;
}

.agregarDatos {
    text-align: initial;
}

.agregarDatos span {
   color: #F03738;
}

#perfil-2 {
    font-size: 36px;
    color: #0683F9;
}

#camara {
    margin-left: -55px;
    margin-top: 57px;
    background: #0683F9;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#camara input {
    color: white;
    font-size: 11px;
    margin-bottom: 2px;
    width: 11px;
    height: 17px;
    border: none;
    outline: none;
}

#inputCamara:hover{
    cursor: pointer;
}



.agregar {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
}


.containerDatos {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 35px;
    font-size: 12px;
}

.containerDatos div {
    width: 190px;
    margin-left: 31px;
    padding: 15px;

}

.containerDatos div p {

    margin: 0px;
}

.containerDatos select {
    margin-top: 8px;
    border: 1px solid #CCCCCC;
    width: 190px;
    height: 35px;
    outline: none;
    font-size: 12px;

}

.containerDatos input {

    border: 1px solid #CCCCCC;
    width: 190px;
    height: 35px;
    outline: none;
    font-size: 12px;
    margin-top: 8px;
}

.containerDatos button {
    border: 1px solid #CCCCCC;
    width: 190px;
    height: 35px;
    outline: none;
    margin-top: 24px;
    font-size: 12px;
    background: white;
    color: #CCCCCC;
}

.containerDatos button i {
    font-size: 15px;
    margin-right: 6px;
}

.containerDatos div progress {
    background: #FFFFFF;
    border: 1px solid #C6CACC;
    width: 235px;
    height: 13px;
    border-radius: 5px;
    display: block;
    margin-right: 15px;
                        
}

.placeholder {
    
    color: #CCCCCC;
}

.btn .guardar{

    border: 1px solid #CCCCCC;
    background: #CCCCCC 0.25%;
    color: white;
    width: 173px;
    height: 42px;
    outline: none;
    font-size: 15px;
    font-weight: 700;
}

.btn .guardarOk {
    background: #EE6723;
}

.btn .cancel {
    border: none;
    outline: none;
    background: white;
    width: 173px;
    height: 42px;
    font-size: 15px;
    font-weight: 700;
    color: #CCCCCC;
}

.btn .cancelOk {
    color: #EE6723;
}

.btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-right: 40px;
    margin-bottom: 35px;
    
}

#btn-agregar-contacto:hover {
    cursor: pointer;
}

.noDisplay {
    display: none;
}

.cursorPoint {
    cursor: pointer;
}


#agregarDatosPersonales select {
    border: 1px solid #CCCCCC;
    width: 190px;
    height: 35px;
    outline: none;
    font-size: 12px;
}

.logoConUsuario {
    display: flex;
    align-items: stretch;
}

.nombreUsuario {
    margin-left: 15px;

    color : rgb(213, 235, 255);
    margin-bottom: 0px;
    margin-top: 12px;
}

#cerrarSesion { 
    margin-top: 0;
    color : rgb(213, 235, 255);
    margin-left: 16px;
    font-size: 11px;
}

#cerrarSesion:hover{
    cursor: pointer;
    color: red
}