/*estilos generales*/
/*estilos particulares*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background-color: white;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

img {
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}

.fondoTransparente {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 1000px;
  z-index: 3;
}

header {
  width: 1440px;
  margin: 0 auto;
  height: 64px;
  background-color: #1D72C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h2 {
  margin-left: 30px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  margin-top: 25px;
}

.nav a:hover {
  cursor: pointer;
}

.span1, .span2, .span3, .span4 {
  border: 1px solid #FFFFFF;
  display: block;
  width: 75%;
  margin-top: 14px;
}

.nombrePagina {
  margin-right: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.none {
  display: none;
}

.h1login {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100%;
  margin: auto;
}

.agregarContainer {
  position: absolute;
  width: 64%;
  max-height: 100%;
  background-color: white;
  z-index: 3;
  margin: 96px 95px;
}

.agregarContainer-c {
  position: absolute;
  max-height: 100%;
  background-color: white;
  z-index: 3;
  margin: 96px 95px;
}

.agregarHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 140px;
  background-color: #1D72C2;
}

.agregarHeader i {
  margin-right: 40px;
  margin-top: 24px;
  color: white;
  font-size: 17px;
}

.agregarHeader i:hover {
  cursor: pointer;
}

#agregarDatosPersonales {
  max-width: 96%;
  height: 131px;
  background-color: white;
  border: 3px solid #0683f9;
  border-radius: 6.5px;
  margin-top: -65px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 12px;
}

#agregarDatosPersonales input {
  width: 190px;
  height: 35px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background: none;
  outline: none;
}

.agregarCentrar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agregarTitulo {
  margin: 0;
  font-size: 21px;
  padding-top: 21px;
  padding-left: 40px;
  color: white;
}

.agregarLoguito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  height: 84px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid #0683F9;
  border-radius: 42px;
}

.agregarDatos {
  text-align: initial;
}

.agregarDatos span {
  color: #F03738;
}

#perfil-2 {
  font-size: 36px;
  color: #0683F9;
}

#camara {
  margin-left: -46px;
  margin-top: 57px;
  background: #0683F9;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#camara i {
  color: white;
  font-size: 11px;
}

.agregar {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerDatos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  font-size: 12px;
}

.containerDatos div {
  width: 190px;
  margin-left: 31px;
  padding: 15px;
}

.containerDatos div p {
  margin: 0px;
}

.containerDatos select {
  margin-top: 8px;
  border: 1px solid #CCCCCC;
  width: 190px;
  height: 35px;
  outline: none;
  font-size: 12px;
}

.containerDatos input {
  border: 1px solid #CCCCCC;
  width: 190px;
  height: 35px;
  outline: none;
  font-size: 12px;
  margin-top: 8px;
}

.containerDatos button {
  border: 1px solid #CCCCCC;
  width: 190px;
  height: 35px;
  outline: none;
  margin-top: 24px;
  font-size: 12px;
  background: white;
  color: #CCCCCC;
}

.containerDatos button i {
  font-size: 15px;
  margin-right: 6px;
}

.containerDatos div progress {
  background: #FFFFFF;
  border: 1px solid #C6CACC;
  width: 235px;
  height: 13px;
  border-radius: 5px;
  display: block;
  margin-right: 15px;
}

.placeholder {
  color: #CCCCCC;
}

.btn .guardar {
  border: 1px solid #CCCCCC;
  background: #CCCCCC 0.25%;
  color: white;
  width: 173px;
  height: 42px;
  outline: none;
  font-size: 15px;
  font-weight: 700;
}

.btn .guardarOk {
  background: #EE6723;
}

.btn .cancel {
  border: none;
  outline: none;
  background: white;
  width: 173px;
  height: 42px;
  font-size: 15px;
  font-weight: 700;
  color: #CCCCCC;
}

.btn .cancelOk {
  color: #EE6723;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 80px;
  margin-right: 40px;
  margin-bottom: 35px;
}

#btn-agregar-contacto:hover {
  cursor: pointer;
}

.noDisplay {
  display: none;
}

.cursorPoint {
  cursor: pointer;
}

#agregarDatosPersonales select {
  border: 1px solid #CCCCCC;
  width: 190px;
  height: 35px;
  outline: none;
  font-size: 12px;
}

main {
  width: 1440px;
  margin: 0 auto;
}

#incorrecto {
  font-size: 13px;
  color: red;
  text-align: center;
  margin-bottom: -18px;
}

#input {
  background: none;
  outline: none;
  border: none;
}

.busqueda {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #CCCCCC;
  border-radius: 3.5px;
  border-radius: 3.5px;
  width: 502px;
  height: 41px;
  margin-left: 29.5px;
}

#arrow {
  margin-top: 13px;
  margin-right: 15.5px;
  color: #546D79;
}

main h1 {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  margin-left: 29.5px;
  margin-top: 39.6px;
}

.container-lupa {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3.5px;
  border-radius: 3.5px;
  width: 41px;
  height: 41px;
  margin-left: 9px;
}

#search {
  color: #1D72C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12px;
}

.busquedaSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-arrowUp {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #1D72C2;
  border-radius: 3.5px;
  width: 41px;
  height: 41px;
  margin-right: 8.5px;
}

#arrowUp {
  color: #1D72C2;
  font-size: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -6px;
}

#spanFlecha {
  margin-top: 3.5px;
  display: block;
  width: 16px;
  height: 2px;
  background: #1D72C2;
}

#spanFlechaDos {
  display: block;
  width: 8px;
  height: 6px;
  background: #1D72C2;
  -webkit-transform: rotate(90deg) translate(-9px, -4px);
          transform: rotate(90deg) translate(-9px, -4px);
}

.spanArrow {
  margin-top: 6.5px;
}

.exportar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #1D72C2;
  border-radius: 3.5px;
  width: 172px;
  height: 41px;
  margin-right: 8.5px;
}

.exportar p {
  color: #1D72C2;
  font-family: 'Open Sans', sans-serif;
  margin-left: 15.9px;
  width: 100%;
  font-size: 14px;
  line-height: 1;
}

#arrowExportar {
  margin-top: 13px;
  margin-right: 14px;
  color: #1D72C2;
}

#btn-agregar-contacto {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border-radius: 2px;
  width: 173px;
  height: 42px;
  letter-spacing: 0;
  text-align: center;
  background: #1D72C2;
  border: 0;
}

.inline-dos {
  margin-right: 28px;
  display: inherit;
}

thead {
  max-width: 375px;
}

table {
  margin-left: 27.5px;
  margin-right: 28.5px;
  color: black;
  margin-top: 73px;
  font-size: 12.1px;
  font-family: 'Open Sans', sans-serif;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #CCCCCC;
}

td, th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 250px;
  height: 56px;
}

.container-head {
  border: 1px solid #CCCCCC;
}

.titulos {
  height: 67.5px;
}

.checkbox {
  width: 5%;
  padding-left: 18.5px;
  color: 2px solid #546D79;
}

.hola {
  width: 14px;
  font-size: 9px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 70%;
}

.foto {
  height: 28px;
}

.datos {
  margin-left: 7px;
}

.datos p {
  color: #CCCCCC;
  margin: 0;
  height: 10px;
  width: 130px;
}

.datos h2 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

#nombre {
  display: inline;
}

#cargo {
  display: inline;
}

#sector-15 {
  background-color: white;
  margin-top: 4.5px;
  margin-left: 29.5px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  border-radius: 2px;
  width: 503px;
  height: 375px;
  z-index: 1;
  position: absolute;
}

#formulario {
  margin-top: 23.9px;
}

.campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.campo label {
  margin-left: 16px;
}

.campo input {
  font-size: 13px;
  border: none;
  width: 290px;
  margin-right: 25px;
  border-bottom: 1px solid #CCCCCC;
  background: none;
}

.campo input:focus {
  outline: none;
}

.campoDespl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.campoDespl label {
  margin-left: 16px;
}

.campoDespl select {
  border: 1px solid #CCCCCC;
  margin-right: 125px;
  width: 190px;
  height: 35px;
}

select {
  background: url(https://cdn0.iconfinder.com/data/icons/right-direction-1/64/arrow-solid-down-256.png) no-repeat right;
  font-family: 'Open Sans', sans-serif;
  border-radius: 2px;
  background-size: 10%;
  background-position-x: 100%;
  background-position-y: 42%;
}

.none {
  display: none;
}

#arrow:hover {
  cursor: pointer;
}

tbody tr:hover {
  background: #E8E8E8;
}

.containerLogin {
  background-color: #F9FAFC;
  width: 100%;
  padding: 25px 40px;
  max-width: 400px;
  margin: 0 auto;
  -webkit-box-shadow: #1d72c2 0 0 10px;
          box-shadow: #1d72c2 0 0 10px;
}

.parte-1 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.parte-1 input {
  font-size: 14px;
  padding: 7px;
  border: 2px solid #DFE1E6;
  border-radius: 3px;
  height: 44px;
}

.parte-1 input, button {
  display: block;
  width: 100%;
}

.parte-1 button {
  background: #1d72c2;
  border-radius: 4.8px;
  font-weight: bold;
  padding: 9.6px 20.8px;
  border: 0px;
  color: white;
  margin-top: 40px;
  margin-bottom: 30px;
}

.parte-1 h1 {
  text-align: center;
  color: #5E6C84;
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
}

.parte-1 h2 {
  color: #5E6C84;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
}

.sectionLogin {
  width: 100%;
  padding: 0px;
  margin-top: 40px;
}

.sectionUsuario {
  margin-top: 85px;
  margin-bottom: 0px;
  max-width: 503px;
  margin-left: auto;
  margin-right: auto;
}

.containerUsuario {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: #F9FAFC;
  padding: 25px 40px;
  -webkit-box-shadow: #1d72c2 0 0 10px;
          box-shadow: #1d72c2 0 0 10px;
  border-radius: 4px;
}

.containerUsuario h1 {
  color: #5E6C84;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 30px;
}

.containerUsuario label {
  color: #5E6C84;
}

.containerBtn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerBtn input {
  width: 38%;
  background: #1d72c2;
  border-radius: 4.8px;
  font-weight: bold;
  padding: 9.6px 20.8px;
  border: 0px;
  color: white;
  margin-top: 10px;
}

.parte-1 div h2 {
  margin-top: 30px;
}

#repetirPass {
  width: 21%;
}

#formulario-usuario {
  margin-top: 30px;
  margin-bottom: 30px;
}

.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.password i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5E6C84;
}

.password .noMostrar {
  display: none;
}

#admin {
  margin-right: 183px;
}

#interes {
  display: inline;
}

#barraNumerica {
  width: 55px;
  margin: 0;
  margin-right: -50px;
}

#containerInteres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

footer {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  color: #CCCCCC;
  font-size: 12px;
}

.div1, .div2 {
  margin-top: 23.8px;
  width: 8%;
  margin-left: 29px;
}

.section-city .flex-container, #section-company .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 4em 2em;
}

.section-city .flex-container div, #section-company .flex-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section-city .flex-container span, #section-company span {
  padding: 6px 10px;
  background-color: #e4f0f6;
  color: #0079bf;
  border-radius: 3px;
}

.section-city h1, #section-company h1 {
  padding-left: 10px;
}

.fab, .far {
  /* font-weight: 400; */
  font-size: 12px;
}

.section-city .flex-container span,
.section-city h1,
.section-company h1,
.section-city a {
  margin: 0;
}

.region {
  margin: 1em;
  font-size: 1.3em;
}

/* Remove default bullets */
ul,
.myUL {
  list-style-type: none;
  height: 100%;
}

.myUL button {
  background-color: #e4f0f6;
  color: #0079bf;
  border-radius: 3px;
  border: none;
  width: 60px;
  height: 31px;
  margin: 0;
  display: inline;
}

/* Remove margins and padding from the parent ul */
.myUL {
  margin: 0;
  padding: 0;
}

.myUL .container-btn {
  width: 82.7%;
  margin-left: 159px;
  margin-top: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li {
  padding: 0.6em;
  font-size: 16px;
}

.myUL li .region-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.myUL li .region-title:hover {
  background-color: #e4f0f6;
  color: #0079bf;
  border-radius: 3px;
}

/* Style the caret/arrow */
.caret {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: #e2050559;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

.nested.active .region {
  margin-left: -115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.citys li {
  margin-left: 100px;
  margin-right: 0;
  width: 100px;
}

.citys div {
  margin-left: -110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
  margin-top: 15px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.city-1 button {
  background-color: #e4f0f6;
  color: #0079bf;
  border-radius: 3px;
  border: none;
  width: 70px;
  height: 31px;
  margin: 0;
}

.mostrar {
  display: inline;
  margin-left: 20px;
}

.noMostrar {
  display: none;
}

.region-title p {
  margin: 0;
}

.pais-ag {
  position: absolute;
  margin-left: 1236px;
  margin-top: -38px;
}

.cia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cia span {
  position: absolute;
  margin-left: 120px;
  color: #0079bf;
}

.containerRegion {
  width: 650px;
  margin: 120px 380px;
  position: fixed;
}

.containerRegion-c {
  margin: 120px 380px;
  position: fixed;
}

.containerCity {
  width: 500px;
  /* margin: 0; */
  margin-top: 8%;
  margin-right: 7%;
  position: fixed;
}

.containerCity .btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0;
}

.containerRegion select {
  margin-top: 8px;
  border: 1px solid #CCCCCC;
  width: 190px;
  height: 35px;
  outline: none;
  font-size: 12px;
  margin-right: 10px;
}

.containerRegion button {
  border: 1px solid #CCCCCC;
  width: 190px;
  height: 35px;
  outline: none;
  margin-top: 24px;
  font-size: 12px;
  background: white;
  color: #CCCCCC;
}

.containerRegion button i {
  font-size: 15px;
  margin-right: 6px;
}

.divEditar {
  background: #1d72c2;
  width: 18%;
  height: 18%;
  position: fixed;
  border-radius: 10px;
  text-align: center;
  z-index: 3;
}

.inputEditar {
  border-radius: 4px;
  border: none;
  height: 25px;
  width: 75%;
  outline: none;
}

.agregarEdit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.noHidden {
  overflow: hidden;
}

.btnEdit {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aceptar {
  font-size: 30px;
  color: green;
  border-radius: 15px;
  background: white;
  cursor: pointer;
}

.cancelar {
  font-size: 30px;
  color: red;
  border-radius: 15px;
  background: white;
  cursor: pointer;
}

#h3Edit {
  font-weight: 400;
}
/*# sourceMappingURL=styles.css.map */